In [4]:
import pandas as pd
import numpy as np
import time
from sklearn.model_selection import train_test_split
import turicreate as tc

import sys
sys.path.append("..")
customers = pd.read_csv('./assets/customer.csv') 
transactions = pd.read_csv('./assets/transaction.csv')

In [5]:
data = pd.melt(transactions.set_index('customerId')['products'].apply(pd.Series).reset_index(), 
             id_vars=['customerId'],
             value_name='products') \
    .dropna().drop(['variable'], axis=1) \
    .groupby(['customerId', 'products']) \
    .agg({'products': 'count'}) \
    .rename(columns={'products': 'purchase_count'}) \
    .reset_index() \
    .rename(columns={'products': 'productId'})
data['productId'] = data['productId'].astype(np.int64)

In [6]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy
data_dummy = create_data_dummy(data)

In [7]:
df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')

In [8]:
df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())

In [9]:
# create a table for input to the modeling  
d = df_matrix_norm.reset_index() 
d.index.names = ['scaled_purchase_freq'] 
data_norm = pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()
print(data_norm.shape)
data_norm.head()

(133585, 3)

    customerId productId  scaled_purchase_freq
9            9         0              0.133333
25          25         0              0.133333
32          33         0              0.133333
35          36         0              0.133333
43          44         0              0.133333

In [10]:
def normalize_data(data):
    df_matrix = pd.pivot_table(data, values='purchase_count', index='customerId', columns='productId')
    df_matrix_norm = (df_matrix-df_matrix.min())/(df_matrix.max()-df_matrix.min())
    d = df_matrix_norm.reset_index()
    d.index.names = ['scaled_purchase_freq']
    return pd.melt(d, id_vars=['customerId'], value_name='scaled_purchase_freq').dropna()

In [11]:
def split_data(data):
    '''
    Splits dataset into training and test set.
    
    Args:
        data (pandas.DataFrame)
        
    Returns
        train_data (tc.SFrame)
        test_data (tc.SFrame)
    '''
    train, test = train_test_split(data, test_size = .2)
    train_data = tc.SFrame(train)
    test_data = tc.SFrame(test)
    return train_data, test_data

In [12]:
train_data, test_data = split_data(data)
train_data_dummy, test_data_dummy = split_data(data_dummy)
train_data_norm, test_data_norm = split_data(data_norm)

In [13]:
user_id = 'customerId'
item_id = 'productId'
users_to_recommend = list(customers[user_id])
n_rec = 10 # number of items to recommend
n_display = 30

In [18]:
def model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display):
    if name == 'popularity':
        model = tc.popularity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target)
    elif name == 'cosine':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='cosine')
    elif name == 'pearson':
        model = tc.item_similarity_recommender.create(train_data, 
                                                    user_id=user_id, 
                                                    item_id=item_id, 
                                                    target=target, 
                                                    similarity_type='pearson')
        
    recom = model.recommend(users=users_to_recommend, k=n_rec)
    recom.print_rows(n_display)
    return model

In [19]:
name = 'popularity'
target = 'purchase_count'
popularity = model(train_data, name, user_id, item_id, target, users_to_recommend, n_rec, n_display)

Preparing data set.

    Data has 106868 observations with 23368 users and 300 items.

    Data prepared in: 0.115725s

106868 observations to process; with 300 unique items.

recommendations finished on 1000/1000 queries. users per second: 301114

+------------+-----------+--------------------+------+
| customerId | productId |       score        | rank |
+------------+-----------+--------------------+------+
|    1553    |    132    | 3.2459016393442623 |  1   |
|    1553    |     34    | 2.9962546816479403 |  2   |
|    1553    |     37    | 2.9603174603174605 |  3   |
|    1553    |     0     | 2.947069943289225  |  4   |
|    1553    |    248    | 2.880952380952381  |  5   |
|    1553    |     3     | 2.8617234468937878 |  6   |
|    1553    |     27    | 2.762962962962963  |  7   |
|    1553    |    110    | 2.734567901234568  |  8   |
|    1553    |    230    | 2.651851851851852  |  9   |
|    1553    |     32    | 2.6473429951690823 |  10  |
|   20400    |    132    | 3.2459016393442623 |  1   |
|   20400    |     34    | 2.9962546816479403 |  2   |
|   20400    |     37    | 2.9603174603174605 |  3   |
|   20400    |     0     | 2.947069943289225  |  4   |
|   20400    |    248    | 2.880952380952381  |  5   |
|   20400    |     3     | 2.8617234468937878 |  6   |
|   20400    |     27    | 2.762962962962963  |  7   |
|   20400    |    110    | 2.734567901234568  |  8   |
|   20400    |    230    | 2.651851851851852  |  9   |
|   20400    |     32    | 2.6473429951690823 |  10  |
|   19750    |    132    | 3.2459016393442623 |  1   |
|   19750    |     34    | 2.9962546816479403 |  2   |
|   19750    |     37    | 2.9603174603174605 |  3   |
|   19750    |     0     | 2.947069943289225  |  4   |
|   19750    |    248    | 2.880952380952381  |  5   |
|   19750    |     3     | 2.8617234468937878 |  6   |
|   19750    |     27    | 2.762962962962963  |  7   |
|   19750    |    110    | 2.734567901234568  |  8   |
|   19750    |    230    | 2.651851851851852  |  9   |
|   19750    |     32    | 2.6473429951690823 |  10  |
+------------+-----------+--------------------+------+
[10000 rows x 4 columns]